- name: Hacer backup de los ficheros de configuración originales
  become: true
  ansible.builtin.copy:
    remote_src: true
    src: "{{ item }}"
    dest: /etc/sysctl.d_backup/
    mode: preserve
    backup: true
    local_follow: false
  with_fileglob:
    - /etc/sysctl.d/*

- name: Configuración de /etc/sysctl.conf
  become: true
  ansible.builtin.template:
    src: sysctl.conf.j2
    dest: "/etc/sysctl.conf"
    backup: true
    mode: '0644'
  register: parametros_kernel_modificados
  notify:
    - Mostrar_configuracion_parametros_kernel
    - Reiniciar_host
