/org/gnome/settings-daemon/plugins/power/sleepinactive-
ac-timeout
/org/gnome/settings-daemon/plugins/power/sleepinactive-
ac-type
/org/gnome/settings-daemon/plugins/power/sleepinactive-
battery-timeout
/org/gnome/settings-daemon/plugins/power/sleepinactive-
battery-type